# See https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >
  -*,
  clang-diagnostic-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  -clang-diagnostic-c++98-*,
  -clang-diagnostic-covered-switch-default,
  -clang-diagnostic-exit-time-destructors,
  -clang-diagnostic-four-char-constants,
  -clang-diagnostic-gnu-anonymous-struct,
  -clang-diagnostic-multichar,
  -clang-diagnostic-nested-anon-types,
  -clang-diagnostic-pre-*,
  -clang-diagnostic-reserved-identifier,
  -clang-diagnostic-unsafe-buffer-usage,
  -clang-diagnostic-used-but-marked-unused,
  -llvm-include-order,
  -misc-non-private-member-variables-in-classes
