id ICON "Moruga.ico"
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "M.W. Hessel"
      VALUE "FileDescription", "High Performance Data Compression"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "Moruga"
      VALUE "LegalCopyright", "Copyright © 2013-2021 M.W. Hessel"
      VALUE "LegalTrademarks", "Copyright (C) 2013-2021 M.W. Hessel"
      VALUE "OriginalFilename", "Moruga.exe"
      VALUE "ProductName", "Moruga"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
